:root {
    --background: #13141a;
    --item-background: #22242c;
    --border-color: #2e313a;
    --text-color: #f5f3f3;

    --primary: #ae00ff;
    --error: #ff1e00;
    --error-transparent: #fc4d3675;

    --border-radius: 0.3rem;
    --large-border-radius: 0.7rem;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 1rem;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: var(--background);
}

main {
    min-height: 100%;
    background-color: var(--background);
}

input {
    padding: 0.8rem;
    background-color: var(--background);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input:focus {
    box-shadow: 0px 0px 2px 1px var(--primary);
}
