.button {
    cursor: pointer;
    padding: 0.8rem;
    color: var(--text-color);
    font-weight: bold;
    border-radius: var(--border-radius);
    transition: filter 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
        transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    text-transform: uppercase;
}

.button:hover {
    filter: brightness(1.2);
    transform: scale(1.01);
}

.button:active {
    filter: brightness(0.9);
    transform: scale(0.99);
}

.primary {
    background-color: var(--primary);
}

.primaryOutline {
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
}
